body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
}

img {
    max-width: 100%;
    height: auto;
    /* vertical-align: middle; */
    display: block;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.wrap {
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
}

.container {
    max-width: 800px;
    margin: 0 auto;

}


header{
    position:sticky;
    top:0;
    z-index: 999;
    margin: 0 auto;
    max-width: 800px;
}

.bg {
    max-width: 800px;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.bg21 {
    background-image: url(../images/BG/colmo3_04.jpg);
}

/* ------
    定位
-------- */
.thing02-1 {
    width: 100%;
    left: 0%;
    bottom: 0%;
}

.thing02-2 {
    width: 34.4%;
    right: 4%;
    top: 10.5%;
    opacity: 0;
}

.showtitle {
    opacity: 1;
}

.thing02-3 {
    width: 23.4%;
    left: 3%;
    bottom: 23%;
    animation: move 2s infinite ease-in-out;
}

.thing02-4 {
    width: 18.1%;
    left: 24.5%;
    bottom: 19.5%;
    animation: move 2s 0.5s infinite ease-in-out;
}

.thing02-5 {
    width: 18.1%;
    left: 40.5%;
    bottom: 26%;
    animation: move 2s 1s infinite ease-in-out;
}

.thing02-6 {
    width: 49.5%;
    right: 1%;
    bottom: 1.5%;
    z-index: 1;
}

.thing02-7 {
    width: 27%;
    right: 11%;
    top: 13.5%;
    mix-blend-mode: screen;
}

.thing02-8 {
    width: 22.6%;
    right: 23%;
    bottom: 13%;
    animation: rotate 3s infinite ease-in-out;
    transform-origin: bottom center;
}

.thing02-9 {
    width: 16%;
    right: 4%;
    bottom: 15%;
    animation: rotate 3s infinite ease-in-out;
    transform-origin: bottom center;
}

.thing03-1 {
    width: 77.6%;
    left: 11.5%;
    top: 9.5%;
}

.thing03-2 {
    width: 100%;
    right: 0%;
    bottom: 0%;
    z-index: 1;
    overflow: hidden;
}

.thing03-3 {
    width: 100%;
    right: -5%;
    top: 29.5%;
}

.thing04-1 {
    width: 28.9%;
    left: 4%;
    top: 15%;
}

.thing04-2 {
    width: 32.9%;
    left: 5.5%;
    top: 30%;
}

.thing04-3 {
    width: 28.9%;
    right: 9%;
    top: 17.5%;
}

.thing04-4 {
    width: 35.5%;
    right: 2.5%;
    top: 29%;
}

.thing04-5 {
    width: 43.6%;
    left: 4.1%;
    bottom: 29%;
}

.thing04-6 {
    width: 43.6%;
    right: 4.1%;
    bottom: 29%;
}

.thing05-1 {
    width: 14.8%;
    right: 8%;
    top: 7%;
}

.thing05-2 {
    width: 27.9%;
    right: 17%;
    bottom: 13%;
}

.thing05-2 span {
    -webkit-mask: url("../images/04-2.png") no-repeat center center;
    mask: url("../images/04-2.png") no-repeat center center;
    -webkit-mask-size: contain;
    mask-size: contain
}

.thing06-1 {
    width: 16.7%;
    left: 36%;
    top: -3%;
    transform-origin: right center;
    animation: moveRotate 2s infinite ease-in-out;
}

.thing06-2 {
    width: 16.1%;
    right: 32.5%;
    top: 2.5%;
    transform-origin: right center;
    animation: moveRotate 2s .25s infinite ease-in-out;
}

.thing06-3 {
    width: 16.5%;
    right: 18%;
    top: -1%;
    transform-origin: right center;
    animation: moveRotate 2s .5s infinite ease-in-out;
}

.thing06-4 {
    width: 17.1%;
    right: 3%;
    top: 7%;
    transform-origin: right center;
    animation: moveRotate 2s .75s infinite ease-in-out;
}

.thing07-1 {
    width: 25.4%;
    left: 1.5%;
    top: 4%;
    z-index: 1;
    animation: moveBig 2s infinite ease-in-out;
}

.thing07-1111 {
    width: 25.4%;
    right: 1.5%;
    bottom: 51%;
    z-index: 1;
    /* animation: moveBig 2s infinite ease-in-out; */
}



.thing07-2 {
    width: 75.7%;
    left: 12%;
    top: 17%;
}

.thing07-3 {
    width: 8.9%;
    right: 8.5%;
    top: 49%;
}

.thing07-4 {
    width: 84.8%;
    right: 6%;
    bottom: 8.5%;
}
@media (max-width:768px) {
    .thing07-4 {
        right: 7.2%;
    }
}
.thing08-1 {
    width: 36%;
    left: 8%;
    top: 22%;
    animation: move 2s infinite ease-in-out;
}

.thing08-2 {
    width: 36%;
    right: -0.5%;
    top: 40%;
    animation: move 2s .5s infinite ease-in-out;
}

.thing08-3 {
    width: 36%;
    left: 3%;
    top: 51.5%;
    animation: move 2s 1s infinite ease-in-out;
}

.thing08-4 {
    width: 40.7%;
    left: 10.5%;
    bottom: 4%;
}

.thing09-1 {
    width: 35%;
    left: 8%;
    bottom: 4%;
}

.thing09-2 {
    width: 22.8%;
    right: 44.5%;
    bottom: 11.5%;
    z-index: 1;
}

.thing09-3 {
    width: 50.1%;
    right: 4.5%;
    bottom: 0%;
}

.thing10-1 {
    width: 19.8%;
    left: 6.5%;
    top: 38.5%;
    animation: moveBig 2s infinite ease-in-out;
}

.thing10-2 {
    width: 19.8%;
    right: 17%;
    bottom: 30.5%;
    animation: moveBig 2s .5s infinite ease-in-out;
}

.thing10-3 {
    width: 19.8%;
    right: 4%;
    bottom: 50.5%;
    animation: moveBig 2s 1s infinite ease-in-out;
}

.thing11-1 {
    width: 54.7%;
    left: 7.5%;
    top: 35.5%;
    z-index: 1;
}

.thing11-2 {
    width: 100%;
    right: 0%;
    bottom: 23.5%;
}

.thing13-1 {
    width: 95.9%;
    left: 2.5%;
    top: 18%;
    z-index: 1;
}

.thing13-2 {
    width: 26.2%;
    right: 51%;
    top: 31%;
    animation: rotate 2s infinite ease-in-out;
    transform-origin: bottom center;
}

.thing13-3 {
    width: 24%;
    right: 24.5%;
    top: 28%;
    animation: rotate 2s infinite ease-in-out;
    transform-origin: bottom center;
}

.thing13-4 {
    width: 9%;
    left: 11%;
    bottom: 36.5%;
    z-index: 1;
    animation: moveBig 2s infinite ease-in-out;
}

.thing13-5 {
    width: 13.4%;
    left: 9%;
    bottom: 35.4%;
    mix-blend-mode: screen;
    animation: moveBig 2s infinite ease-in-out;
}

.thing13-6 {
    width: 8.9%;
    right: 13%;
    bottom: 33.5%;
    z-index: 1;
    animation: moveBig 2s .5s infinite ease-in-out;
}

.thing13-7 {
    width: 13.4%;
    right: 11%;
    bottom: 32.1%;
    mix-blend-mode: screen;
    animation: moveBig 2s .5s infinite ease-in-out;
}

.thing13-8 {
    width: 14.5%;
    right: 3.5%;
    bottom: 12.8%;
    animation: moveBig 2s 1s infinite ease-in-out;
}

.thing13-9 {
    width: 16.3%;
    right: 2.5%;
    bottom: 11.2%;
    mix-blend-mode: screen;
    animation: moveBig 2s 1s infinite ease-in-out;
}

.thing14-1 {
    width: 21.4%;
    left: 4.5%;
    top: 14%;
}

.thing14-2 {
    width: 18.2%;
    right: 1%;
    z-index: 1;
    bottom: 18.8%;
    animation: moveBig 2s infinite ease-in-out;
}

.thing14-3 {
    width: 18.2%;
    right: 7%;
    bottom: 7.5%;
    z-index: 1;
    animation: moveBig 2s .5s infinite ease-in-out;
}

.thing14-4 {
    width: 32.9%;
    right: 15%;
    bottom: 1%;
    animation: rotate 2s infinite ease-in-out;
}

.thing15-1 {
    width: 25.4%;
    left: 1.5%;
    top: 4%;
    z-index: 1;
    animation: moveBig 2s infinite ease-in-out;
}

.thing15-1111 {
    width: 25.4%;
    right: 1.5%;
    bottom: 51%;
    z-index: 1;
    /* animation: moveBig 2s infinite ease-in-out; */
}


.thing15-2 {
    width: 75.7%;
    left: 12%;
    top: 17%;
}

.thing15-3 {
    width: 8.9%;
    right: 8.5%;
    top: 49%;
}

.thing15-4 {
    width: 84.8%;
    right: 6%;
    bottom: 8.5%;
}
@media (max-width:768px) {
    .thing15-4 {
        right: 7.2%;
    }
}
.thing16-1 {
    width: 45.4%;
    left: 4.5%;
    top: 24.5%;
    cursor: pointer;
}

.thing17-1 {
    width: 76.6%;
    left: 11.5%;
    top: 5.5%;
    animation: rotate 2s infinite steps(3);
    /* animation: rotate 2s infinite ease-in-out; */
}

.thing17-2 {
    width: 85.3%;
    left: 7.7%;
    top: 30.5%;

}

.thing17-3 {
    width: 80%;
    left: 10%;
    bottom: 9%;
    scale: 2.25;

}

.thing19-1 {
    width: 90%;
    left: 5%;
    bottom: 20.5%;
}

@media (max-width:768px) {

    .thing19-1 {
        width: 90%;
        left: 8%;
        bottom: 23.5%;
    }

}

.thing20-1 {
    width: 92.1%;
    left: 4.5%;
    bottom: 2.5%;
}

.thing22-1 {
    width: 100%;
    left: 0%;
    top: 0%;
}

.thing22-2 {
    width: 22.6%;
    right: 8%;
    top: 45%;
    z-index: 1;
    animation: rotate 2s infinite ease-in-out;
}

.thing22-3 {
    width: 25.4%;
    left: 0%;
    top: 17%;
    z-index: 1;
    animation: rotate 2s infinite ease-in-out;
}

.thing22-4 {
    width: 75.8%;
    left: 11%;
    top: 26%;
}

.phone {
    width: 78%;
    left: 11%;
    bottom: 7%;
}

.mail {
    width: 78%;
    left: 11%;
    bottom: 40%;
}

/* offer */
.offerBtn {
    transition: all 0.3s;
}

.offerBtn:hover {
    transform: translateY(5px);
    opacity: 0.8;
}

.offer01 {
    width: 82.5%;
    left: 9%;
    bottom: 2.5%;
}

.offernew {
    width: 82.5%;
    left: 9%;
    bottom: 9%;
}
.offer02 {
    width: 37%;
    left: 9%;
    bottom: 7%;
}

.offer03 {
    width: 37%;
    right: 7.5%;
    bottom: 7%;
}